*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{

	padding-top: 10px;
	background: aliceblue;
	font-family: 'Times New Roman', Times, serif;
}

.container{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

h1 {
	text-transform: uppercase;
	font-weight: 500;
	font-size: 40px;
}

h2 {
	font-weight: 400;
	font-size: 30px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

th {
  background-color: #f2f2f2;
}
